 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

.App-backgroundImage {
max-width: 100%;
 height: 100%;
background-size: cover;
background-repeat: no-repeat;
opacity: 0.3;

}
 .background-container {
 height: 100%;
  width: 100%;
  background-color: black;
} 
/* @media screen and (min-width: 480px) {
  .background-container {
    height: 100%;
    width: 100%;
  }
} */
